<h1>Products#index</h1>

<div id="photo"></div>

<div id='container'></div>

<div id='badges'></div>

<button class='make-image' onclick="makeImage()">Make Image</button>

<div class='image-preview'></div>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<%= render @products %>
